@charset "utf-8";

.head-top {
    font-size: 15px;
}

.data {
    margin-top: 30px;
}

.search {
    margin-top: 75px;
}

.select{
    margin-left: 10px;
    margin-top: 75px;
}

#container{
    width:95%;
}

body{
    margin-left: 5%;
    margin-right: 5%;
}
.experl {
    margin-top: 80px;
    float: right;
}
.search-button{
    float: left;


}

.input-group{
    margin: 5px auto;
}

.show-result{
    text-align: center;
}
